<%= render :partial => "admin/navbar" %>

<table class="table table-striped table-condensed">
  <caption>Liste des plugins</caption>
  <thead>
    <tr>
      <th>Actif</th>
      <th>Nom</th>
      <th>Version</th>
      <th>Description</th>
      <!-- <th>Auteurs</th> -->
      <th>Site</th>
    </tr>
  </thead>
  <tbody>
    <%- @jsonapi[:getPlugins].each do |plugin| %>
      <tr>
        <td><i class="<%= plugin["enabled"] ? "icon-ok-sign" : "icon-remove-sign" %>"></i></td>
        <td><%= plugin["name"] %></td>
        <td><%= plugin["version"] %></td>
        <td><%= plugin["description"] %></td>
        <!-- <td><%= plugin["authors"] ? plugin["authors"].join(", ") : "" %></td> -->
        <% if plugin["website"] %>
          <td><%= link_to "www", url_with_protocol(plugin["website"]), :target => "_blank" %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
