<%= form_for [@forum, @topic, @message], :html => { :class => 'form-horizontal well' } do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h3>

      <ul>
		  <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', :class => "span6" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls" style="display: inline-block;">
      <%= f.text_area :content, :class => 'text_field', :rows => 10, :cols => 20, :class => "markItUp-bbcode" %>
    </div>
  </div>

  <% if current_user.role.rid >= 12 %>
  <div class="control-group">
	  <%= f.label :deleted, :class => 'control-label' %>
	  <div class="controls">
		  <%= f.check_box :deleted, :class => 'checkbox_field' %>
	  </div>
  </div>
  <div class="control-group">
    <%= f.label :deletion_reason, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :deletion_reason, :class => 'text_field', :class => "span6" %>
    </div>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                forum_topic_path(@forum, @topic), :class => 'btn btn-mini' %>
  </div>
<% end %>
