<%= form_for @forum, :html => { :class => 'form-horizontal well' } do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h3>

      <ul>
		  <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field', :rows => 5, :cols => 5 %>
    </div>
  </div>

  <div class="control-group">
	  <%= f.label :forum_category_id, :class => 'control-label' %>
	  <div class="controls">
		  <%= f.collection_select :forum_category_id, ForumCategory.all, :id, :name, :class => "number_field", :include_blank => true %>
	  </div>
  </div>

    <div class="control-group">
    <%= f.label :role, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :role, Role.all.collect{|r| [r[1], r[0]]}, :class => "number_field", :include_blank => false %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
    <%= link_to content_tag(:i, "", :class => "icon-remove") + " " + t('.cancel', :default => t("helpers.links.cancel")),
                forums_path, :class => 'btn btn-mini' %>
  </div>
<% end %>
