<div class="row">
	<div class="span9"><h1><%= @forum.title %></h1></div>
	<div class="span3">
		<%= link_to "Créer un nouveau sujet", new_forum_topic_path(@forum), :class => "btn btn-mini" if can?(:create, Topic) %>
		<%= link_to "Editer forum", edit_forum_path(@forum), :class => "btn btn-mini" if can?(:edit, @forum) %>
	</div>
</div>

<br />

<%- @topics.each do |topic| %>
<div class="row topic_element">
	<div class="span9">
		<h4>
			<%- if can?(:manage, topic )%>
			<%= link_to "Editer", edit_forum_topic_path(@forum, topic), :class => "btn btn-mini" %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                forum_topic_path(@forum, topic),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %>
			<% end %>
			&raquo; <%= link_to topic.title, forum_topic_path(@forum, topic) %>
		</h4>
	</div>
	<div class="span3">
		Par: <%= link_to topic.user.login, topic.user %><br />
		Le: <%= topic.created_at %>
	</div>
</div>
<%- if @topics.count > 0 %>
<div class="topics-separator"></div>
<% end %>
<% end %>

<%= paginate @topics %>