<%= form_for [@forum, @topic], :html => { :class => 'form-horizontal well' } do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h3>

      <ul>
		  <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', :class => "span6" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls" style="display: inline-block;">
      <%= f.text_area :content, :class => 'text_field', :rows => 10, :cols => 20, :class => "markItUp-bbcode" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
	<%- if @topic.new_record? %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), forum_path(@forum), :class => 'btn btn-mini' %>
	<% else %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), forum_topic_path(@forum, @topic), :class => 'btn btn-mini' %>
	<% end %>
  </div>
<% end %>
