<%= form_for [@forum, @topic], :html => { :class => 'form-horizontal well' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', :class => "span5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls" style="display: inline-block;">
      <%= f.text_area :content, :class => 'text_field', :rows => 10, :cols => 20, :class => "markItUp" %>
    </div>
  </div>
  <%- if @current_user.role.rid >= 12 %>
  <div class="control-group">
	  <%= f.label :pin, :class => 'control-label' %>
	  <div class="controls">
		  <%= f.check_box :pin, :class => 'checkbox_field' %>
	  </div>
	  Pinner cette discussion
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                forum_topics_path, :class => 'btn' %>
  </div>
<% end %>
