<div class="row block_message" id="msg_id_<%= msg.id %>">
	<!-- 9 usable columns, two last are for last topics unread -->
	<div class="span9 topic_block">
		<div class="row">
			<div class="span2 tb_author">
				<img class="tb_skin skin pull-left" src="http://www.minecraft.net/skin/<%= msg.user.login %>.png"/>
				<script type="text/javascript">
					renderMCSkins('skin', 2);
				</script>

				<h4><%= link_to msg.user.login, msg.user %></h4>
				<% if !msg.user.custom_role.blank? %><%= msg.user.custom_role %><br /><% end %>
				<i class="icon-asterisk"></i> <%= msg.user.role_name %><br />

				<%= t '.messages_count', :number => msg.user.messages.count %><br />
			</div>

			<div class="span7 tb_msg">
				<div class="row tb_msg_dating">
					<div class="span5">
						<%- if !topic %>
						<h4><%= link_to msg.title, :anchor => "msg_id_#{msg.id}" %></h4>
						<% end %>
						<%- if !topic %>&nbsp;&nbsp;&nbsp;<% end %><b>le:</b> <%= ftime(msg.created_at) %>
					</div>
					<div class="span2">
						<%- if topic %>
						<%= link_to content_tag(:i, "", :class => "icon-pencil") + " Éditer", edit_forum_topic_path(@forum, @topic), :class => "btn btn-mini" if can?(:edit, @topic) %>
						<%= link_to content_tag(:i, "", :class => "icon-trash") + " " + t('.destroy', :default => t("helpers.links.destroy")),
						forum_topic_path(@forum, @topic),
						:method => :delete,
						:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
						:class => 'btn btn-mini btn-danger' if can?(:destroy, @topic) %>
						<% else %>
						<%= link_to content_tag(:i, "", :class => "icon-pencil") + " Éditer", edit_forum_topic_message_path(@forum, @topic, msg), :class => "btn btn-mini" if can?(:edit, msg) %>
						<%= link_to content_tag(:i, "", :class => "icon-trash") + " " + t('.destroy', :default => t("helpers.links.destroy")),
						forum_topic_message_path(@forum, @topic, msg),
						:method => :delete,
						:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
						:class => 'btn btn-mini btn-danger' if can?(:destroy, msg) %>
						<% end %>
					</div>
				</div>

				<div class="row tb_msg_content">
					<div class="span7">
						<%= raw msg.content.bbcode_to_html %>
						<% if !msg.user.signature.blank? %>
						<hr>
						<%= raw msg.user.signature.bbcode_to_html %>
						<% end %>
					</div>
				</div>

			</div> <!-- span2 tb_msg -->
		</div>
	</div>
</div>
