<div class="row block_message">
	<!-- 9 usable columns, two last are for last topics unread -->
	<div class="span9 offset1 topic_block">
		<div class="row">
			<div class="span2 tb_author">
				<h4><%= link_to msg.user.login, msg.user %></h4>
			</div>
			<div class="span3 tb_date">
				<b><%= t '.at' %></b> <%= ftime(msg.created_at) %>
			</div>
			<div class="span3 tb_deleted">
				<b><%= t '.message_deleted' %></b> <i><%= msg.deletion_reason %></i>
			</div>
			<div class="span1 tb_edit">
				<%= link_to content_tag(:i, "", :class => "icon-pencil") + " " + t('.edit', :default => t("helpers.links.edit")), edit_forum_topic_message_path(@forum, @topic, msg), :class => "btn btn-mini" if can?(:edit, msg) %>
			</div>
		</div>
	</div>
</div>
