<div class="row">
	<div class="span10">
		<h2><%= link_to @forum.title, @forum %> &raquo; <small><%= @topic.title %></small></h2>
	</div>
	<div class="span2">
		<%= link_to "Répondre", new_forum_topic_message_path(@forum, @topic), :class => "btn" if can?(:create, Message) %>
		<%= link_to "Editer sujet", edit_forum_topic_path(@forum, @topic), :class => "btn" if can?(:edit, @topic) %>
	</div>
</div>

<br />

<div class="row forum_topic">
	<div class="span2 offset1">
		By: <%= link_to @topic.user.login, @topic.user %><br />
		Role: <%= @topic.user.role.name %><br />
		On: <%= @topic.created_at %><br />
		<%= link_to "Editer", edit_forum_topic_path(@forum, @topic), :class => "btn btn-mini" if can?(:edit, @topic) %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            forum_topic_path(@forum, @topic),
            :method => :delete,
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-mini btn-danger' if can?(:destroy, @topic) %>
	</div>
	<div class="span9">
		<%= raw @topic.content.bbcode_to_html %>
	</div>
</div>

<br />

<%- @messages.each do |message| %>
<div class="row forum_message">
	<%- if message.deleted %>
	<div class="span11 offset1">
		<%= link_to "Editer", edit_forum_topic_message_path(@forum, @topic, message), :class => "btn btn-mini" if can?(:edit, message) %>
		By: <%= link_to message.user.login, message.user %>. Message deleted: <%= message.deletion_reason %>
	</div>
	<% else %>
	<div class="span2 offset1">
		By: <%= link_to message.user.login, message.user %><br />
		Role: <%= message.user.role.name %><br />
		On: <%= message.created_at %><br />
		<%= link_to "Editer", edit_forum_topic_message_path(@forum, @topic, message), :class => "btn btn-mini" if can?(:edit, message) %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            forum_topic_message_path(@forum, @topic, message),
            :method => :delete,
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-mini btn-danger' if can?(:destroy, message) %>
	</div>
	<div class="span9">
		<%= message.title %><br />
		<%= raw message.content.bbcode_to_html %>
	</div>
	<% end %>
</div>
<% end %>

<%= paginate @messages %>
			