<div class="row">
	<div class="span10">
		<h2><%= link_to @forum.title, @forum %> &raquo; <small><%= @topic.title %></small></h2>
	</div>
	<div class="span2">
		<%= link_to "Répondre", new_forum_topic_message_path(@forum, @topic), :class => "btn btn-mini" if can?(:create, Message) %>
		<%= link_to "Editer sujet", edit_forum_topic_path(@forum, @topic), :class => "btn btn-mini" if can?(:edit, @topic) %>
	</div>
</div>

<br />

<div class="row">
	<!-- 9 usable columns, two last are for last topics unread -->
	<div class="span9 offset1 topic_header">
		<div class="row">
			<div class="span2 th_author">
				<h4>Auteur</h4>
			</div>
			<div class="span7">
				<h4>Sujet: <%= @topic.title %></h4>
			</div>
		</div>
	</div>
</div>


<%= render :partial => "msg", :locals => {:topic => @topic, :msg => @topic} %>

<br />

<%- @messages.each do |message| %>
<%- if message.deleted %>
<%= render :partial => "msg_deleted", :locals => {:msg => message} %>
<% else %>
<%= render :partial => "msg", :locals => {:topic => nil, :msg => message} %>
<% end %>
<% end %>

<%= paginate @messages %>
