<div class="row">
	<div class="span9">
		<h2><%= link_to @forum.title, @forum %> &raquo; <small><%= @topic.title %></small></h2>
	</div>
	<div class="span3">
		<%= link_to content_tag(:i, "", :class => "icon-comment") + " Répondre", new_forum_topic_message_path(@forum, @topic), :class => "btn btn-mini" if can?(:create, Message) %>
		
		<% if @current_user.at_least_modo? %>
		<%- if @topic.locked %>
		<%= link_to content_tag(:i, "", :class => "icon-lock") + " Déverouiller", forum_topic_unlock_path(@forum, @topic), :class => "btn btn-mini" if can?(:edit, @topic) %>
		<% else %>
		<%= link_to content_tag(:i, "", :class => "icon-lock") + " Vérouiller", forum_topic_lock_path(@forum, @topic), :class => "btn btn-mini" if can?(:edit, @topic) %>
		<% end %>
		
		<%- if @topic.pin %>
		<%= link_to content_tag(:i, "", :class => "icon-flag") + " Depunaiser", forum_topic_unpin_path(@forum, @topic), :class => "btn btn-mini" if can?(:edit, @topic) %>
		<% else %>
		<%= link_to content_tag(:i, "", :class => "icon-flag") + " Punaiser", forum_topic_pin_path(@forum, @topic), :class => "btn btn-mini" if can?(:edit, @topic) %>
		<% end %>
		<% end %>
		
	</div>
</div>

<br />

<div class="row">
	<!-- 9 usable columns, two last are for last topics unread -->
	<div class="span9 offset1 topic_header">
		<div class="row">
			<div class="span2 th_author">
				<h4>Auteur</h4>
			</div>
			<div class="span7">
				<h4>Sujet: <%= @topic.title %></h4>
			</div>
		</div>
	</div>
</div>


<%= render :partial => "msg", :locals => {:topic => @topic, :msg => @topic} %>

<br />

<%- @messages.each do |message| %>
<%- if message.deleted %>
<%= render :partial => "msg_deleted", :locals => {:msg => message} %>
<% else %>
<%= render :partial => "msg", :locals => {:topic => nil, :msg => message} %>
<% end %>
<% end %>

<%= paginate @messages %>
