<div class="row">
	<div class="span10">
		<h2><%= link_to @forum.title, @forum %> &raquo; <small><%= @topic.title %></small></h2>
	</div>
	<div class="span2">
		<%= link_to "Répondre", new_forum_topic_message_path(@forum, @topic), :class => "btn" if can?(:create, Message) %>
		<%= link_to "Editer sujet", edit_forum_topic_path(@forum, @topic), :class => "btn" if can?(:edit, @topic) %>
	</div>
</div>

<br />

<div class="row">
	<div class="span7 offset2">
		<%= raw @topic.content.bbcode_to_html %>
	</div>
</div>

<br />

<%- @messages.each do |message| %>
<div class="row">
	<div class="span7 offset2">
		<%= message.title %><br />
		<%= raw message.content.bbcode_to_html %>
	</div>
</div>
<% end %>
			