<%= form_for @pm, :html => { :class => 'form-horizontal well' } do |f| %>
  <% if @pm.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@pm.errors.count, "error") %> prohibited this message from being saved:</h3>

      <ul>
      <% @pm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field', :class => "span6" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :to, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :to, User.all.collect{|r| [r.login, r.id]}, :class => "number_field", :include_blank => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'text_field', :rows => 10, :cols => 20, :class => "markItUp-bbcode" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
    <%= link_to content_tag(:i, "", :class => "icon-remove") + " " + t('.cancel', :default => t("helpers.links.cancel")),
                pms_path, :class => 'btn btn-mini' %>
  </div>
<% end %>
