<%- model_class = Pm.new.class -%>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <%- if side == :to %>
        <th><%= t '.to', :default =>
                  model_class.human_attribute_name(:to) %></th>
      <% else %>
        <th><%= t '.from', :default =>
                  model_class.human_attribute_name(:from) %></th>
      <% end %>
      <th><%= t '.subject', :default => model_class.human_attribute_name(:subject) %></th>
      <th><%= t '.created_at', :default => model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% pms.each do |pm| %>
      <tr>
        <%- if side == :to %>
          <% u = User.find(pm.to) %>
        <% else %>
          <% u = pm.user %>
        <% end %>
        <%- if u %>
        <td><%= link_to u.login, u %></td>
        <% else %>
        <td>Unknown</td>
        <% end %>

        <td>
        <%= link_to pm do %>
          <% if (@current_user.id == pm.to) and !pm.read %>
          <i class="icon-info-sign"></i>
          <% end %>
          <% if !pm.subject.blank? %>
            <%= pm.subject %>
          <% else %>
            No subject
          <% end %>
        <% end %>
        </td>

        <td><%= ftime(pm.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
