<%= form_for @user, :html => { :class => 'form-horizontal well' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
	  <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class="controls">
		<%- if f.object.new_record? %>
	      <%= f.text_field :login, :class => "text_field" %>
		  <% else %>
		  <%= f.text_field :login, :class => "text_field", :disabled => :disabled %>
		  <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <% if @current_user %>
  <% if @current_user.admin? %>
  <div class="control-group">
    <%= f.label :role, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :role, Role.all.collect{|r| [r[1], r[0]]}, :class => "number_field", :include_blank => false %>
    </div>
  </div>
  <% end %>
  <% end %>

  <div class="control-group">
    <%= f.label :custom_role, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :custom_role, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :signature, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :signature, :class => 'text_field markItUp-bbcode', :cols => 10 %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to content_tag(:i, "", :class => "icon-remove") + " " + t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
