<div class="row">
	<div class="span6 offset3">
		<h1><%= t '.title' %></h1>
	</div>
</div>


<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= form_for @user do |f| %>
			<% if @user.errors.any? %>
			<div id="error_explanation">
				<h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			
			<div class="control-group">
				<%= f.label :login, :class => 'control-label' do %>
				<h3><%= t '.minecraftnet' %></h3>
				<% end %>
				<div class="alert alert-info">
					<%= t '.alert_permissons_html' %>
				</div>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">1</span>&nbsp;<span class="add-on"><i class="icon-user"></i></span><%= f.text_field :login, :class => "text_field" %>
					</div>
				</div>
			</div>
			
			<br />
			<div class="control-group">
				<%= f.label :email, :class => 'control-label' do %>
				<h3><%= t '.email' %></h3>
				<% end %>
				<div class="alert alert-info">
					<%= t '.alert_email_html' %>
				</div>
				<div class="alert" style="color:#800">
					<%= t '.alert_hotmail_html' %>
				</div>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">2</span>&nbsp;<span class="add-on"><i class="icon-envelope"></i></span><%= f.text_field :email, :class => 'text_field' %>
					</div>
				</div>
			</div>
		
			<br />
			<div class="control-group">
				<%= f.label :password, :class => 'control-label' do %>
				<h3><%= t '.password' %></h3>
				<% end %>
				<div class="alert alert-info">
					<%= t '.alert_password' %>
				</div>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">3</span>&nbsp;<span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password, :class => 'text_field' %>
					</div>
				</div>
				<%= f.label :password_confirmation, :class => 'control-label' do %>
				<%= t '.password_confirmation' %>
				<% end %>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">4</span>&nbsp; <span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password_confirmation, :class => 'text_field' %>
					</div>
				</div>

				<br /><br />

				<div class="alert alert-success">
					<%= t '.alert_finished' %>
				</div>

				<div class="form-actions">
					<%= f.submit nil, :class => 'btn btn-danger btn-large' %>
					<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
					users_path, :class => 'btn btn-success btn-large' %>
				</div>
				
			
			
			<% end %>
		</div>
	</div>
</div>