<div class="row">
	<div class="span6 offset3">
		<h1>Inscription</h1>
	</div>
</div>


<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= form_for @user do |f| %>
			<% if @user.errors.any? %>
			<div id="error_explanation">
				<h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			
			<div class="control-group">
				<%= f.label :login, :class => 'control-label' do %>
				<h3>Minecraft.net</h3>
				<% end %>
				<div class="alert alert-info">
					Les permissions en jeu sont gérées par le forum, nous vous demandons votre pseudo <b>Minecraft.net</b><br />
					<b>Respectez la casse !</b>
				</div>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">1</span>&nbsp;<span class="add-on"><i class="icon-user"></i></span><%= f.text_field :login, :class => "text_field" %>
					</div>
				</div>
			</div>
			
			<br />
			<div class="control-group">
				<%= f.label :email, :class => 'control-label' do %>
				<h3>Adresse email</h3>
				<% end %>
				<div class="alert alert-info">
					Ecrivez une adresse email <b>valide</b>, elle vous servira pour vous envoyer un lien permettant de valider votre compte, ainsi que de rester en contact avec vous plus tard en jeu par messages privés.
				</div>
				<div class="alert" style="color:#800">
					<b>Attention :</b> N'utilisez pas d'adresse <b>Hotmail</b>
					<br /><i>(@hotmail.com|.fr, @msn.com, @live.com|fr)</i>,
					<br />leur filtre anti-spam considère nos mails comme étant du spam. Ceci est un faux-positif.
				</div>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">2</span>&nbsp;<span class="add-on"><i class="icon-envelope"></i></span><%= f.text_field :email, :class => 'text_field' %>
					</div>
				</div>
			</div>
		
			<br />
			<div class="control-group">
				<%= f.label :password, :class => 'control-label' do %>
				<h3>Mot de passe</h3>
				<% end %>
				<div class="alert alert-info">
					Nous vous conseillons de choisir un mot de passe fort combinant des lettres majuscules et minuscules, des chiffres et des caractères spéciaux (# ou $, voire %)
				</div>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">3</span>&nbsp;<span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password, :class => 'text_field' %>
					</div>
				</div>
				<%= f.label :password_confirmation, :class => 'control-label' do %>
				Confirmez le mot de passe :
				<% end %>
				<div class="controls">
					<div class="input-prepend">
						<span class="badge">4</span>&nbsp; <span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password_confirmation, :class => 'text_field' %>
					</div>
				</div>

				<br /><br />

				<div class="alert alert-success">
					Si vous avez fini de remplir ce formulaire, vous pouvez le valider.
				</div>

				<div class="form-actions">
					<%= f.submit nil, :class => 'btn btn-danger btn-large' %>
					<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
					users_path, :class => 'btn btn-success btn-large' %>
				</div>
				
			
			
			<% end %>
		</div>
	</div>
</div>