<%- model_class = @user.class -%>
<div class="row">
	<div class="span10">
		<h1><%= @user.login %>'s profile</h1>
		<br />
		<table class="table table-condensed table-striped">
			<tr>
				<th>Forum topics: </th>
				<td><%= @user.topics.count %></td>
			</tr>
			<tr>
				<th>Forum messages: </th>
				<td><%= @user.messages.count %></td>
			</tr>
			<tr>
				<th>Role: </th>
				<td><%= @user.role.name %></td>
			</tr>
		</table>
	</div>
	<div class="span2">
		<img class="skin" src="http://www.minecraft.net/skin/<%= @user.login %>.png"/>
		<script type="text/javascript">
        renderMCSkins('skin', 4);
		</script>
	</div>
</div>
		
