<%- model_class = @user.class -%>
<div class="row">
	<div class="span10">
		<h1><%= t '.title', :login => @user.login %></h1>
		<br />
		<table class="table table-condensed table-striped">
			<tr>
				<th><%= t '.topics_count' %></th>
				<td><%= link_to @user.topics.count, user_topics_path(@user) %></td>
			</tr>
			<tr>
				<th><%= t '.messages_count' %></th>
				<td><%= link_to @user.messages.count, user_messages_path(@user)%></td>
			</tr>
			<tr>
				<th><%= t '.role' %></th>
				<td><%= @user.role.name %></td>
			</tr>
			<tr>
				<th><%= t '.join_date' %></th>
				<td><%= ftime(@user.created_at) %></td>
			</tr>
			<tr>
				<th><%= t '.last_visit' %></th>
				<td><%= ftime(@user.current_login_at) %></td>
			</tr>
			<% if @current_user %>
			<% if @current_user.admin? %>
			<tr>
				<th><%= t '.email' %></th>
				<td><%= @user.email %></td>
			</tr>
			<tr>
				<th><%= t '.last_ip' %></th>
				<td><%= @user.current_login_ip %></td>
			</tr>
			<% end %>
			<% end %>
		</table>
	</div>
	<div class="span2">
		<img class="skin" src="http://www.minecraft.net/skin/<%= @user.login %>.png"/>
		<script type="text/javascript">
        renderMCSkins('skin', 4);
		</script>
	</div>
</div>

