<%= form_for @doc, :html => { :class => 'form-horizontal well' } do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h3>

      <ul>
		  <% @doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', :class => "span7" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field', :class => "markItUp-markdown" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_field', :class => "markItUp-markdown" %>
    </div>
  </div>

  <%- if current_user %>
  <%- if current_user.at_least_modo? %>
    <div class="control-group">
    <%= f.label :modos_only, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :modos_only, :class => 'text_field' %>
    </div>
  </div>
  <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
    <%= link_to content_tag(:i, "", :class => "icon-remove") + " " + t('.cancel', :default => t("helpers.links.cancel")),
                docs_path, :class => 'btn btn-mini' %>
  </div>
<% end %>
