<div class="row">
	<div class="span3"><h1>Les documents</h1></div>
	<div class="span2 offset7">
		<%= link_to "Créer un document", new_doc_path, :class => "btn btn-mini" if can?(:create, Doc) %>
	</div>
</div>

<br />

<%- @docs.each do |doc| %>
<div class="row forum_element">
	<div class="span9">
		<h4>&raquo; <%= link_to doc.title, doc_path(doc) %></h4>
	<small><%= markdown doc.description %></small>
	</div>
	<div class="span3">
		Créer le: <%= doc.created_at %>
		<br />
		Update: <%= doc.updated_at %>
	</div>
</div>
<%- if @docs.count > 0 %>
<div class="forums-separator"></div>
<% end %>
<% end %>
