<div class="row">
	<div class="span3"><h1><%= t '.title' %></h1></div>
	<div class="span2 offset7">
		<%= link_to content_tag(:i, "", :class => "icon-plus") + " " + t('.new'), new_doc_path, :class => "btn btn-mini" if can?(:create, Doc) %>
	</div>
</div>

<br />

<%- @docs.each do |doc| %>
<div class="row forum_element">
	<div class="span9">
		<h4>&raquo; <%= link_to doc.title, doc_path(doc) %></h4>
	</div>
	<div class="span3">
		<%= t '.created', :time => ftime(doc.created_at) %>
		<br />
		<%= t '.updated', :time => ftime(doc.updated_at) %>
	</div>
</div>
<%- if @docs.count > 0 %>
<div class="forums-separator"></div>
<% end %>
<% end %>
