<div class="row">
	<div class="span10">
		<h1><%= @doc.title %></h1>
	</div>
	<div class="span2">
		<%= link_to content_tag(:i, "", :class => "icon-pencil") + " Éditer", edit_doc_path(@doc), :class => "btn btn-mini" if can?(:edit, @doc) %>
        <%= link_to content_tag(:i, "", :class => "icon-trash") + " " + t('.destroy', :default => t("helpers.links.destroy")),
            @doc,
            :method => :delete,
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-mini btn-danger' if can?(:destroy, @doc)%>
		
	</div>
</div>
<br/>
<div class="row">
	<div class="span10 offset1">
		<%= markdown @doc.description %>
	</div>
</div>

<hr>

<div class="row">
	<div class="span10 offset1">
		<%= markdown @doc.content %>
	</div>
</div>
