<div id="footer">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span10">
          <p>
            <%= t 'footer.running_html',
              :version => "v0.1 <small>(#{NUXWS_VERSION})</small>".html_safe %><br />
              <small>Bukkit: r<%= @minecraft_version[:bukkit]%>, MC: <%= @minecraft_version[:minecraft] %></small>
          </p>
        </div>
        <div class="span2">
          <%= link_to "http://rubyonrails.org/", :target => "_blank" do %>
            <%= image_tag "rails_powered.gif", :alt => "Rails powered !" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
