<div class="control-group">
  <%= label_tag :app_title, t(:app_title, :scope => :settings, :default => "Application title"), :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :app_title, Settings.app_title, :class => 'text_field', :class => "span2" %>
  </div>
</div>

<br />

<div class="control-group">
  <%= label_tag :app_maintenance, t(:app_maintenance, :scope => :settings, :default => "Application maintenance"), :class => 'control-label' %>
  <div class="controls">
    <%- if Settings.app_maintenance == "yes" %>
      <p><%= radio_button_tag :app_maintenance, "yes",true, :class => "span2" %>yes</p>
      <p><%= radio_button_tag :app_maintenance, "no", false, :class => "span2" %>no</p>
    <% else %>
      <p><%= radio_button_tag :app_maintenance, "yes",false, :class => "span2" %>yes</p>
      <p><%= radio_button_tag :app_maintenance, "no", true, :class => "span2" %>no</p>
    <% end %>
  </div>
</div> 

<br />

<div class="control-group">
  <%= label_tag :news_forum_id, t(:news_forum_id, :scope => :settings, :default => "Which forum for news block"), :class => 'control-label' %>
  <div class="controls">
    <%= select_tag :news_forum_id, options_from_collection_for_select(Forum.all, :id, :title, Settings.news_forum_id), :class => 'text_field', :class => "span2" %>
  </div>
</div>

<br />

<div class="control-group">
  <%= label_tag :presentations_forum_id, t(:presentations_forum_id, :scope => :settings, :default => "Which forum for presentations link"), :class => 'control-label' %>
  <div class="controls">
    <%= select_tag :presentations_forum_id, options_from_collection_for_select(Forum.all, :id, :title, Settings.presentations_forum_id), :class => 'text_field', :class => "span2" %>
  </div>
</div>

<br />

<div class="control-group">
  <%= label_tag :rules_doc_id, t(:rules_doc_id, :scope => :settings, :default => "Which doc use for rules link"), :class => 'control-label' %>
  <div class="controls">
    <%= select_tag :rules_doc_id, options_from_collection_for_select(Doc.all, :id, :title, Settings.rules_doc_id), :class => 'text_field', :class => "span2" %>
  </div>
</div>

<div class="control-group">
  <%= label_tag :staff_doc_id, t(:staff_doc_id, :scope => :settings, :default => "Which doc use for staff link"), :class => 'control-label' %>
  <div class="controls">
    <%= select_tag :staff_doc_id, options_from_collection_for_select(Doc.all, :id, :title, Settings.staff_doc_id), :class => 'text_field', :class => "span2" %>
  </div>
</div>
