<%= form_for @donation, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h3>

      <ul>
      <% @donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :amount, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :anonymous, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :anonymous, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                donations_path, :class => 'btn' %>
  </div>
<% end %>
