<div class="row">
  <div class="span6">
    Goal for this month (<%= Donation.month_amount %>/<%= Settings.donations_goal_month.to_i %>)
    <%= horizontal_bar_graph [["This month", Donation.month_percent(:this)]] %>
  </div>

  <div class="span6">
    <% if current_user %>
      <% @d_user = {:first_name => current_user.login, :last_name => current_user.login, :email => current_user.email} %>
    <% else %>
      <% @d_user = {:first_name => "Anonymous", :last_name => "Anonymous", :email => "anonymous@example.com"} %>
    <% end %>
    <% payment_service_for 0, PAYPAL_ACCOUNT,
        :currency => 'EUR',
        :service => :paypal do |service|

    service.customer @d_user

    service.item_name "Support pour le Monde de Nuxos"

    # PayPal will POST a callback here when the payment is done
    service.notify_url donations_ipn_url
    # PayPal will take your user here with a POST after he pays
    service.return_url donations_thanks_url
    # PayPal will redirect your user here if he cancels the payment
    service.cancel_return_url donations_cancel_url %>

    Somme a donner (en euros): <%= select_tag :amount, options_for_select(%w{ 5 10 15 20 }), :class => "span1" %>

    <% @custom_things = {} %>

    <% if current_user %>
    <% @custom_things[:user_id] = current_user.id %>
    <% else %>
    <% @custom_things[:user_id] = 0 %>
    <% end %>
    <%= hidden_field_tag :custom, @custom_things.to_yaml %>

    <%= submit_tag 'Supporter le serveur!' %>
<% end %>
  </div>
</div>
