<%= nested_form_for @gallery, :html => { :multipart => true, :class => 'form-vertical' } do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h3>

      <ul>
		  <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
	
	<div class="span4">
		<div class="control-group">
			<%= f.label :title, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :title, :class => 'text_field' %>
			</div>
		</div>
	</div>
	
	<div class="span4">
		<div class="control-group">
			<%= f.label :description, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :description, :class => 'text_field', :rows => 5, :cols => 5 %>
			</div>
		</div>
	</div>
	
	<div class="span4">
		<div class="control-group">
			<%= f.label :place_id, :class => 'control-label' %>
			<div class="controls">
				<%= f.collection_select :place_id, Place.all, :id, :name, :class => "number_field", :include_blank => true %>
			</div>
		</div>
	</div>
	
</div>

<ul class="thumbnails">
	<%= f.fields_for :images do |image_form| %>
	<li class="span4 thumb_edit_gallery">
		<div class="thumbnail">
			<div class="control-group">
				<%= image_tag image_form.object.picture.thumb.url if image_form.object.picture? %>
			</div>
			<div class="control-group">
				<%= image_form.label :title, :class => 'control-label '%>
				<div class="controls">
					<%= image_form.text_field :title, :class => "span3" %>
				</div>
			</div>
	
			<div class="control-group">
				<%= image_form.label :picture, :class => 'control-label '%>
				<div class="controls">
					<%= image_form.file_field :picture, :class => "span3" %>
					<%= image_form.hidden_field :picture_cache %>
				</div>
			</div>
		
			<div class="control-group">
				<%= image_form.label :description, :class => 'control-label '%>
				<div class="controls">
					<%= image_form.text_area :description, :rows => 4, :class => "span3" %>
				</div>
			</div>
			<p><%= image_form.link_to_remove "Remove this image", :class => 'btn btn-danger btn-mini'  %></p>
		</div>
	</li>
	
	<% end %>
	
	<%= f.link_to_add "Add an image", :images, :class => 'btn btn-success btn-mini add_nested_fields_gallery_image' %>
	
</ul>


<div class="row">
	<div class="span12">
		<div class="form-actions">
			<%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			galleries_path, :class => 'btn btn-mini' %>
		</div>
	</div>
</div>
<% end %>
