<div class="row">
	<div class="span3"><h1>Les galleries</h1></div>
	<div class="span2 offset7">
		<%= link_to "Créer une gallerie", new_gallery_path, :class => "btn btn-mini" if can?(:create, Gallery) %>
	</div>
</div>

<br />

<ul class="thumbnails">
	<%- @galleries.each do |gallery| %>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag gallery.images.random.picture.normal.url if gallery.images.count > 0 %>
			<div class="caption">
				<h5><%= gallery.title %></h5>
				<p><%= gallery.description %></p>
				<p><%= link_to "Voir gallerie", gallery, :class => "btn btn-mini" %></p>
			</div>
		</div>
	</li>
	<% end %>
</ul>

<%= paginate @galleries %>