<div class="row">
	<div class="span3"><h1><%= t '.title' %></h1></div>
	<div class="span2 offset7">
		<%= link_to content_tag(:i, "", :class => "icon-plus") + " " + t('.new'), new_gallery_path, :class => "btn btn-mini" if can?(:create, Gallery) %>
	</div>
</div>

<br />

<ul class="thumbnails">
	<%- @galleries.each do |gallery| %>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag gallery.images.random.picture.normal.url if gallery.images.count > 0 %>
			<div class="caption">
				<h5><%= gallery.title %></h5>
				<%= gallery.description %>
        <br />
        <br />
				<%= link_to content_tag(:i, "", :class => "icon-picture") + " " + t('.show'), gallery, :class => "btn btn-mini" %>
			</div>
		</div>
	</li>
	<% end %>
</ul>

<%= paginate @galleries %>
