<div class="row">
	<div class="span10"><h1><%= @gallery.title %></h1></div>
	<div class="span2">
		<%= link_to "Editer", edit_gallery_path(@gallery), :class => "btn btn-mini" if can?(:edit, Gallery) %>
	</div>
</div>

<br />


<ul class="thumbnails">
	<%- @images.each do |image| %>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag image.picture.normal.url %>
			<div class="caption">
				<h5><%= image.title %></h5>
				<p><%= image.description %></p>
				<p><%= link_to "Autres tailles", gallery_image_path(@gallery, image), :class => "btn btn-mini" %></p>
			</div>
		</div>
	</li>
	<% end %>
</ul>
	
