<div class="row page_h">
  <div class="span10 page_h_T">
    <h1><%= @gallery.title %></h1>
  </div>
  <div class="span2 page_h_b">
    <%= link_to content_tag(:i, "", :class => "icon-pencil") + " " + t('.edit', :default => t("helpers.links.edit")), edit_gallery_path(@gallery), :class => "btn btn-mini" if can?(:edit, Gallery) %>
    <%= link_to content_tag(:i, "", :class => "icon-trash") + " " + t('.destroy', :default => t("helpers.links.destroy")),
        @gallery,
        :method => :delete,
        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
        :class => 'btn btn-mini btn-danger' if can?(:destroy, @gallery)%>
  </div>
</div>

<br />


<ul class="thumbnails">
	<%- @images.each do |image| %>
	<li class="span3">
		<div class="thumbnail">
			<a class="lightbox" rel="gallery" href='<%= image.picture.url %>' title='<%= image.description %>'><img src='<%= image.picture.normal.url %>' alt='Chargement...' /></a>
			<div class="caption">
				<h5><%= image.title %></h5>
          <%= image.description %>
          <br/><br/>
			    <%= link_to content_tag(:i, "", :class => "icon-eye-open") + " " + t('.other_sizes'), gallery_image_path(@gallery, image), :class => "btn btn-mini" %>
			</div>
		</div>
	</li>
	<% end %>
</ul>

<script>
$('a.lightbox').colorbox({rel:'gallery', maxWidth:'90%', maxHeight:'90%'});
</script>

<%= paginate @images %>
