<div class="row">
	<div class="span3"><h1><%= @gallery.title %></h1></div>
	<div class="span2 offset7">
		<%= link_to "Editer", edit_gallery_path(@gallery), :class => "btn" if can?(:edit, Gallery) %>
	</div>
</div>

<br />

<div class="row">
	<%- @images.each do |image| %>
	<div class="span3">
		<ul class="thumbnails">
			<li>
				<div class="thumbnail">
					<%= image_tag image.picture.normal.url %>
					<div class="caption">
						<h5><%= image.title %></h5>
						<p><%= image.description %></p>
						<p><%= link_to "Autres tailles", gallery_image_path(@gallery, image), :class => "btn btn-mini" %></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<% end %>
	
</div>
