<h2><%= t 'index.join_us.title' %></h2>
<div class="row">
  <div class="span4">
    <span class="badge badge-important">1</span>
    <%= t 'index.join_us.signup_text' %>
  </div>
  <div class="span2">
    <%= link_to new_user_path, :class => "btn btn-danger btn-mini" do %>
    <i class="icon-pencil icon-white"></i>
    <%= t 'index.join_us.signup' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <span class="badge badge-important">2</span>
    <%= t 'index.join_us.presentation_text' %>
  </div>
  <div class="span2">
    <%= link_to forum_path(Settings.presentations_forum_id), :class => "btn btn-warning btn-mini" do %>
    <i class="icon-book icon-white"></i>
    <%= t 'index.join_us.presentation' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <span class="badge badge-important">3</span>
    <%= t 'index.join_us.address_text' %>
  </div>
  <div class="span2">
    <%= link_to root_url, :class => "btn btn-success btn-mini" do %>
    <i class="icon-resize-full icon-white"></i>
    <%= t 'index.join_us.address' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <span class="badge badge-important">4</span>
    <%= t 'index.join_us.launcher' %>
  </div>
  <div class="span2">
    <%= link_to Settings.launcher_win, :class => "btn btn-primary btn-mini" do %>
    <i class="icon-th-large icon-white"></i>
    <%= t 'index.join_us.launcher_win' %>
    <% end %>
    <%= link_to Settings.launcher_mac, :class => "btn btn-primary btn-mini" do %>
    <i class="icon-shopping-cart icon-white"></i>
    <%= t 'index.join_us.launcher_mac' %>
    <% end %>
    <%= link_to Settings.launcher_jar, :class => "btn btn-primary btn-mini" do %>
    <i class="icon-star icon-white"></i>
    <%= t 'index.join_us.launcher_jar' %>
    <% end %>
  </div>
</div>
