<h2><%= t 'index.stats.title' %></h2>
<ul class="unstyled">
  <li><%= t 'index.stats.total_members', :number => User.all.count %></li>
  <% if User.logged_in.count > 0 %>
  <li>
    <%= t 'index.stats.connected' %>
    <%= raw User.logged_in.collect { |user| link_to user.login, user, :class => "role_color_#{user.role_name}" }.join(", ")%>
  </li>
  <% else %>
  <li><%= t 'index.stats.no_connected' %></li>
  <% end %>
  <li>&nbsp;</li>
  <li>
    <%= t 'index.stats.caption' %> <span class="role_color_guest"><%= t 'index.stats.guest' %></span>, <span class="role_color_padawan"><%= t 'index.stats.padawan' %></span>, <span class="role_color_player"><%= t 'index.stats.player' %></span>, <span class="role_color_moderator"><%= t 'index.stats.moderator' %></span>, <span class="role_color_admin"><%= t 'index.stats.admin' %></span>.
</ul>
