<div class="container">
	
	<%- if !@online_players.empty? %>
	<div class="row">
		<div class="span12">
			<h2>Joueurs connectés sur le serveur :</h2>
		</div>
	</div>
	<div class="row homepage_row">
		<div class="span10 offset1">
			<ul class="thumbnails">
			<%- @online_players.each do |player| %>
			<li class="span1">
				<% if player['world'].to_s == "world_nether" %>
					<%- mapname = "nether" %>
                                <% elsif player['world'].to_s == "world_the_end" %>
					<%- mapname = "the_end" %>
				<% else %>
					<%- mapname = "surface" %>
				<% end %>
				<%- map_url = "http://map.nuxos-minecraft.fr/?x=" + player['x'].to_s + "&y=" + player['y'].to_s + "&z=" + player['z'].to_s + "&worldname=" + player['world'].to_s + "&mapname=" + mapname + "&zoom=6" %>
				<%- avatar_url = "http://map.nuxos-minecraft.fr/tiles/faces/32x32/#{player['account']}.png" %>
				<%= link_to map_url, :class => "thumbnail", :title => player["name"] do %>
				<%= image_tag avatar_url %>
				<% end %>
			<% end %>
			</ul>
		</div>
	</div>
	<% end %>
	
	<div class="row homepage_row">
		<div class="span6">
			<h2>Nous rejoindre en trois étapes :</h2>
			<div class="row">
				<div class="span4">
					<span class="badge badge-important">1</span>
					Inscrivez-vous sur le site :
				</div>
				<div class="span2">
					<%= link_to new_user_path, :class => "btn btn-inverse btn-mini" do %>
					<i class="icon-pencil icon-white"></i>
					Inscription
					<% end %>
				</div>
			</div>
			
			<div class="row">
				<div class="span4">
					<span class="badge badge-important">2</span>
					Vous devez ensuite vous présenter dans la partie dédiée :
				</div>
				<div class="span2">
					<%= link_to forum_path(Settings.presentations_forum_id), :class => "btn btn-inverse btn-mini" do %>
					<i class="icon-book icon-white"></i>
					Présentation
					<% end %>
				</div>
			</div>
			
			<div class="row">
				<div class="span4">
					<span class="badge badge-important">3</span>
					L'adresse de connexion est :
				</div>
				<div class="span2">
					<%= link_to root_url, :class => "btn btn-primary btn-mini" do %>
					<i class="icon-signal icon-white"></i>
					nuxos-minecraft.fr
					<% end %>
				</div>
			</div>
		</div>
		<div class="span6">
			<h2>Lieu à l'honneur cette semaine !</h2>
			<h3><%= @place.name %></h3>
			<% if @place %>
			<% if @place_images %>
			<%- @place_images.each do |img| %>
			<div class="pull-right">
				<%= image_tag img.picture.thumb.url %>&nbsp;
			</div>
			<% end %>
			<% end %>
			<% end %>
			
			<p><%= @place.short_description %></p>
			<p>
				<%= link_to @place, :class => "btn btn-primary btn-mini" do%>
				Plus d'infos &raquo;
				<% end %>
				<%- if @place.map_link %>
					<%= link_to @place.map_link, :class => "btn btn-success btn-mini", :target => "_blank" do%>
					Sur la map &raquo;
					<% end %>
				<% end %>
					
			</p>
		</div>
	</div>
	
	
	<div class="row homepage_row">
		<div class="span4">
			<h2>Dernieres news</h2>
			<% if @forum_news %>
			<dl class="dl-horizontal" >
				<%- @news.each do |news| %>
				<dt><%= link_to news.title, [news.forum, news] %></dt>
				<dd><%= truncate(news.content, :length => 20) %></dd>
				<% end %>
			</dl>
			<p>
				<%= link_to Forum.find(Settings.news_forum_id), :class => "btn btn-mini" do %>
				Voir toute les news &raquo;
				<% end %>
			</p>
			<% end %>
		</div>
		
		<div class="span4">
			<h2>Quelques stats</h2>
			<ul class="unstyled">
				<li>Membres total : <%= User.all.count %></li>
				<li>
					Connectés :
					<%= raw User.logged_in.collect { |user| link_to user.login, user, :class => "role_color_#{user.role.name}" }.join(", ")%>
				</li>
				<li>&nbsp;</li>
				<li>
					Légende : <span class="role_color_guest">invité</span>, <span class="role_color_padawan">padawan</span>, <span class="role_color_player">joueur</span>, <span class="role_color_moderator">moderateur</span>, <span class="role_color_admin">admin</span>.
			</ul>
		</div>
		
		<div class="span4">
			<h2>Les dons</h2>
			Bientôt !
		</div>
	</div>
	
</div> <!-- /container -->
