<div class="container">


  <%= render :partial => "online_server" %>


  <div class="row">
    <div class="span6">
      <%= render :partial => "news" %>
    </div>

    <div class="span6">
      <div class="row">
        <div class="span6">
          <%= render :partial => "join_us" %>
        </div>
      </div>


      <br />
      <br />

      <div class="row">
        <div class="span6">
          <%= render :partial => "random_place" %>
        </div>
      </div>

      <br />
      <br />

      <div class="row">
        <div class="span6">
          <h2><%= t 'donations.index.donations' %></h2>
          <%=  t 'donations.index.goal', :amount => Donation.month_amount, :goal => Settings.donations_goal_month.to_i %>
          <%= horizontal_bar_graph [[t('donations.index.this_month'), Donation.month_percent(:this)]] %>
        </div>
      </div>

      <br />
      <br />

      <div class="row">
        <div class="span6">
          <%= render :partial => "online_users" %>
        </div>
      </div>
    </div>
  </div>
</div>
