<div class="container">

	<div class="row">
		<div class="span4">
			<div class="hero-unit hero-small">
				<h2>Nous rejoindre!</h2>
				<p>Comment nous rejoindre</p>
				<p><a class="btn btn-primary btn-small">C'est parti ! &raquo;</a></p>
			</div>
		</div>
		<div class="span8">
			<div class="hero-unit hero-small">
				<% if @place %>
				<h2>D&eacute;couvrez <%= @place.name %></h2>
				<p><%= @place.short_description %></p>
				<p>
					<%= link_to @place, :class => "btn btn-primary btn-mini" do%>
					Plus d'infos &raquo;
					<% end %>
					<%- if @place.map_link %>
						<%= link_to @place.map_link, :class => "btn btn-success btn-mini", :target => "_blank" do%>
						Sur la map &raquo;
						<% end %>
					<% end %>
					
				</p>
				<% end %>
			</div>
		</div>
	</div>

	<!-- Example row of columns -->
	<div class="row">
		<div class="span4">
			<h2>Les derniers lieux</h2>
			<dl class="dl-horizontal" >
				<%- @places.each do |place| %>
				<dt><%= link_to place.name, place %></dt>
				<dd><%= place.short_description %></dd>
				<% end %>
			</dl>
			<p>
				<%= link_to places_url, :class => "btn" do %>
				Voir tout les lieux &raquo;
				<% end %>
			</p>
		</div>
		<div class="span4">
			<h2>Les dernieres news</h2>
			<% if @forum_news %>
			<dl class="dl-horizontal" >
				<%- @news.each do |news| %>
				<dt><%= link_to news.title, [news.forum, news] %></dt>
				<dd><%= truncate(news.content, :length => 20) %></dd>
				<% end %>
			</dl>
			<p>
				<%= link_to Forum.find(Settings.news_forum_id), :class => "btn" do %>
				Voir toute les news &raquo;
				<% end %>
			</p>
			<% end %>
		</div>

		<div class="span4">
			<h2></h2>
			<p></p>
			<p></p>
		</div>
	</div>
</div> <!-- /container -->