<%= form_for(@user_session, :html => {:class => "well"}) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user_session.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
