<%= form_for @place, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h3>

      <ul>
		  <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
	<div class="span4">
		<div class="control-group">
			<%= f.label :name, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :name, :class => 'text_field' %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :short_description, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :short_description, :class => 'text_field', :rows => 5, :cols => 10 %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :description, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :description, :class => 'text_field', :rows => 5, :cols => 10 %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :map_marker, :class => 'control-label' %>
			<div class="controls">
				<%= f.select :map_marker, grouped_options_for_select(@select_markers, @place.map_marker), :prompt => "Choisir un lieu", :class => 'text_field' %>
			</div>
		</div>
	</div>
	
	<div class="span4">
		<div class="control-group">
			<%= f.label :history, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :history, :class => 'text_field', :rows => 5, :cols => 10 %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :creators, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :creators, :class => 'text_field', :rows => 5, :cols => 10 %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :various, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :various, :class => 'text_field', :rows => 5, :cols => 10 %>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="span12">
		<div class="form-actions">
			<%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
			<%= link_to content_tag(:i, "", :class => "icon-remove") + " " + t('.cancel', :default => t("helpers.links.cancel")),
			places_path, :class => 'btn btn-mini' %>
		</div>
	</div>
</div>

<% end %>
