<%- model_class = Place.new.class -%>
<div class="row">
	<div class="span2">
		<h1>Les lieux</h1>
	</div>
	<div class="span2 offset8">
		<%= link_to content_tag(:i, "", :class => "icon-plus") + " Nouveau lieu", new_place_path,
		:class => 'btn btn-primary btn-mini' if can? :create, Place %>
	</div>
</div>

<br />

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:short_description) %></th>
	  <th><%= model_class.human_attribute_name(:map_link) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place %></td>
		<td><%= link_to place.short_description, place %></td>
		<td>
			<%- if place.map_link %>
			<%= link_to place.map_link, :class => "btn btn-success btn-mini", :target => "_blank" do%>
			Map &raquo;
			<% end %>
			<% end %>
		</td>
        <% if can? :edit, place or can? :destroy, place %>
          <td>
            <% if can? :edit, place %>
              <%= link_to content_tag(:i, "", :class => "icon-pencil") + " " + t('.edit', :default => t("helpers.links.edit")),
                  edit_place_path(place), :class => 'btn btn-mini' %>
            <% end %>
            <% if can? :destroy, place %>
              <%= link_to content_tag(:i, "", :class => "icon-trash") + " " + t('.destroy', :default => t("helpers.links.destroy")),
                  place_path(place),
                  :method => :delete,
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-mini btn-danger' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @places %>
