<%- model_class = @place.class -%>
<h1><%= @place.name %></h1>

<br/>

<div class="row">
	<div class="span4">
		<h3><%= @place.short_description %></h3>
		<br />
		<p><%= @place.description %></p>
		<br /><br />
		<h2><%= t '.links_and_actions' %></h2>
		<p>
			<% if can? :edit, @place %>
			<%= link_to content_tag(:i, "", :class => "icon-pencil") + " " + t('.edit', :default => t("helpers.links.edit")), edit_place_path(@place), :class => 'btn btn-mini' %>
			<% end %>
			<% if can? :destroy, @place %>
			<%= link_to content_tag(:i, "", :class => "icon-trash") + " " + t('.destroy', :default => t("helpers.links.destroy")), place_path(@place),
			:method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
			:class => 'btn btn-mini btn-danger' %>
			<% end %>
		</p>
		<p>
			<%- if @place.map_link %>
			<%= link_to @place.map_link, :class => "btn btn-success btn-small", :target => "_blank" do%>
			<%= t '.map_link' %>
			<% end %>
			<% end %>
		</p>
		
	</div>
	
	<div class="span4">
		<h2><%= t '.various' %></h2>
		<p><%= @place.various %></p>
		<br />
		<h2><%= t '.history' %></h2>
		<p><%= @place.history %></p>
		<br />
		<h2><%= t '.creators' %></h2>
		<p><%= @place.creators %></p>
	</div>
	
	<div class="span4">
		<% if @place_images %>
		<h3>Pictures:</h3>
		<%- @place_images.each do |img| %>
			<%= image_tag img.picture.thumb.url %>&nbsp;
		<% end %>
		<% end %>
		
		<% if @place.galleries.count > 0 %>
		<h3>Galleries:</h3>
		<ul>
		<%- @place.galleries.each do |gallery| %>
		<li><%= link_to gallery.title, gallery %></li>
		<% end %>
		</ul>
		<% end %>
		
	</div>
	
</div>
